.header {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.link {
  display: block;
  text-align: unset;
  text-decoration: none;
  background-color: rgba(250, 70, 57, 0.53);
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.link:hover {
  background-color: rgba(255, 42, 27, 0.812);
  color: white;
}
.authData {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.homeBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  gap: 25px;
}
.title {
  text-align: end;
}

.logoutBtn {
  background-color: rgba(250, 70, 57, 0.53);
  width: 80px;
  height: 40px;
  font-style: 18px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.logoutBtn:hover {
  background-color: rgba(255, 24, 8, 0.655);
}
.title {
  width: 300px;
}
.authorization {
  display: flex;
  gap: 25px;
  width: 300px;
  align-items: center;
  text-align: center;
}
.linkAuth {
  text-align: unset;
  text-decoration: none;
  background-color: rgba(250, 70, 57, 0.53);
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.linkAuth:hover {
  background-color: rgba(255, 42, 27, 0.812);
  color: white;
}

.active {
  background-color: rgba(192, 187, 45, 0.568);
  color: white;
}
