.deleteButton {
  background-color: rgba(253, 146, 139, 0.53);
  width: 200px;
  height: 40px;
  font-style: 18px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.deleteButton:hover {
  background-color: rgba(247, 121, 112, 0.655);
}
.contactList {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 20px auto;
}

.totalContacts {
  color: rgba(128, 128, 128, 0.689);
  font-weight: 500;
}
.name {
  margin-right: 20px;
  width: 150px;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-between;
  width: 600px;
  /* height: 200px; */
  /* border: 1px dotted rgba(250, 128, 114, 0.703); */
  box-shadow: rgba(250, 128, 114, 0.7) 0px 2px 8px 0px;
  cursor: pointer;
}
.listItem:hover {
  background-color: rgba(245, 149, 142, 0.538);
  box-shadow: rgba(255, 77, 57, 0.795) 0px 2px 8px 0px;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 14px;
  padding-left: 10px;
  letter-spacing: 0.04em;
  line-height: 1.2;
  border-radius: 5px;
  border-color: transparent;
  outline-color: transparent;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.filtereText {
  margin-right: 20px;
  font-weight: 500;
}
